@import "../../../styles/base/breakpoints.scss";
@import "../../../styles/base/variables.scss";

.container {
  padding-top: 47px;
  padding-bottom: 224px;

  @include media-breakpoint-up("lg") {
    padding-top: 107px;
    padding-bottom: 479px;
  }

  & .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media-breakpoint-up("lg") {
      max-width: 858px;
      margin: 0 auto;
    }

    & h1 {
      text-align: center;
      font-size: 28px;
      line-height: 35px;
      font-weight: bold;
      letter-spacing: 0px;
      color: #940000;
      margin: 0;
      padding: 0 10px 10px;
      border-bottom: 1px solid #c7c7c7;

      @include media-breakpoint-up("lg") {
        font-size: 50px;
        line-height: 71px;
        padding: 0 0 17px;
      }
    }

    & h2 {
      text-align: center;
      font-size: 18px;
      line-height: 40px;
      font-weight: 500;
      letter-spacing: -0.63px;
      color: #717171;
      margin-top: 0;
      margin-bottom: 30px;

      @include media-breakpoint-up("lg") {
        font-size: 25px;
        line-height: 40px;
        letter-spacing: -0.88px;
        margin: 0;
        margin-top: 13px;
        margin-bottom: 20px;
      }
    }

    & .text {
      width: 100%;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: -0.49px;
      color: #000000;
      padding-left: 25px;
      padding-right: 22px;
      text-align: start;
      margin-bottom: 25px;

      @include media-breakpoint-up("lg") {
        font-size: 18px;
        line-height: 35px;
        letter-spacing: -0.63px;
        margin: 0;
        margin-top: 40px;
        padding: 0;

        &.bold {
          font-size: 20px;
          line-height: 40px;
          font-weight: 600;
          letter-spacing: -0.7px;
        }
      }

      & span {
        white-space: nowrap;
        font-weight: bold;
        color: #940000;
      }
    }
    & ul {
      list-style-type: none;
      padding-left: 25px;
      width: 100%;
      margin-top: 10px;
      margin-bottom: 0;

      @include media-breakpoint-up("lg") {
        padding-left: 50px;
      }

      & li {
        display: flex;
        align-items: flex-start;
        gap: 13px;
        margin-bottom: 20px;

        @include media-breakpoint-up("lg") {
          align-items: center;
          margin-bottom: 0;
        }

        & .icon {
          position: relative;
          width: 16px;
          height: 14px;

          @include media-breakpoint-up("lg") {
            width: 16px;
            height: 16px;
          }

          & img {
            object-fit: contain;
          }
        }

        & p {
          max-width: 255px;
          font-size: 14px;
          line-height: 18px;
          letter-spacing: -0.49px;
          color: #000000;
          margin: 0;

          @include media-breakpoint-up("lg") {
            font-size: 18px;
            line-height: 40px;
            letter-spacing: -0.63px;
            margin: 0;
            max-width: unset;
          }

          & span {
            font-weight: bold;
          }
        }
      }
    }
  }

  & .steps {
    margin-top: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 23px;

    @include media-breakpoint-up("lg") {
      margin: 69px auto 0;
      max-width: 812px;
      flex-direction: row;
      justify-content: space-between;
      gap: 5px;
    }

    & .step {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 179px;
      gap: 25px;

      & .content {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        min-width: 179px;
        min-height: 137px;
        background: #f9f9f9 0% 0% no-repeat padding-box;
        border: 1px solid #afafaf;
        border-radius: 8px;
      }

      & .checkmark {
        position: absolute;
        left: 50%;
        top: -20px;
        transform: translateX(-50%);
      }

      & .image {
        position: relative;

        &.first {
          width: 40px;
          height: 50px;
        }

        &.second {
          width: 52px;
          height: 52px;
        }

        &.third {
          width: 51px;
          height: 52px;
        }

        &.fourth {
          width: 88px;
          height: 88px;
        }

        & img {
          object-fit: contain;
        }
      }

      & .bottom {
        @include media-breakpoint-up("lg") {
          position: absolute;
          top: calc(100% + 28px);
        }
        & p {
          text-align: center;
          font-size: 16px;
          line-height: 20px;
          font-weight: 500;
          letter-spacing: -0.56px;
          color: #000000;
          margin: 0;
        }

        & span {
          padding: 2px 10px;
          min-width: 114px;
          width: fit-content;
          display: block;
          margin: 8px auto 0;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #940000 0% 0% no-repeat padding-box;
          border-radius: 13px;
          font-size: 12px;
          line-height: 15px;
          font-weight: 600;
          letter-spacing: -0.52px;
          color: #ffffff;
        }
      }
    }

    & .arrow {
      transform: rotate(-90deg);
      margin-bottom: 10px;

      @include media-breakpoint-up("lg") {
        margin-bottom: 0;
        transform: rotate(-180deg);
      }
    }
  }
}
