/* ==========================================================================
   QUIZ
   ========================================================================== */
.quiz {
  margin-top: 60px;
  margin-bottom: 60px;
  @include media-breakpoint-up(md) {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  @include media-breakpoint-up(xl) {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  &__heading {
    margin-top: -1px;
    margin-bottom: -2px;
    text-align: center;
    @include media-breakpoint-up(xl) {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &__entry {
    margin-top: 48px;
    @include media-breakpoint-up(md) {
      text-align: center;
    }
    @include media-breakpoint-up(xl) {
      margin-top: 76px;
    }

    h4 {
      margin-bottom: 23px;
      text-align: center;
      @include media-breakpoint-up(xl) {
        margin-bottom: 29px;
      }
    }

    .btn-primary {
      @include media-breakpoint-up(md) {
        min-width: 220px;
      }
      @include media-breakpoint-up(lg) {
        min-width: 238px;
      }
    }
  }

  .alert {
    padding: 27px 10px 26px;
    border-color: $color-red;
    border-radius: 0;
    margin-top: 50px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 600;
    color: $color-red;
    text-align: center;
    background: none;
    @include media-breakpoint-up(xl) {
      max-width: 980px;
      padding-right: 80px;
      padding-left: 80px;
      margin: 80px auto 0;
      font-size: 22px;
      line-height: 36px;
    }
  }
}