.transitionPage {
  padding: 77px 12px 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: #f3f3f3 0% 0% no-repeat padding-box;
  height: 100vh;
  min-height: 800px;
}
