.container {
  position: relative;
  padding-bottom: 265px;
  padding-top: 45px;
}

.title {
  text-align: left;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.88px;

  @media (min-width: 1024px) {
    margin-top: 47px;
    font-size: 45px;
    line-height: 50px;
    letter-spacing: -1.57px;
    max-width: 830px;
  }
}

.subtitle {
  text-align: left;
  font-size: 21px;
  line-height: 17px;
  font-weight: 400;
  letter-spacing: -0.73px;
  color: #940000;
  margin-top: 23px;

  @media (min-width: 1024px) {
    margin-top: 10px;
    font-size: 30px;
    line-height: 25px;
    letter-spacing: -1.05px;
  }
}

.cta {
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 10px;
  border: none;
  background: #000000 0% 0% no-repeat padding-box;
  border-radius: 24px;
  font-size: 11px;
  line-height: 16px;
  font-weight: 400;
  letter-spacing: -0.39px;
  color: #ffffff;
  margin-top: 23px;

  @media (min-width: 1024px) {
    margin-top: 30px;
    width: 360px;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: -0.59px;
  }
}

.carouselWrapper {
  position: absolute;
  left: 0;
  right: 0;

  @media (min-width: 1024px) {
    right: 15px;
  }

  & .carousel {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 45px;
    & .slide {
      & .image {
        transition: 0.5s;
        cursor: pointer;
        position: relative;
        height: 220px;
        & img {
          object-fit: cover;
        }
      }
      &:hover {
        .image {
          scale: 0.9;
        }
      }
      max-width: 227px;
      background: #000000 0% 0% no-repeat padding-box;
      border-radius: 25px;
      overflow: hidden;

      & .slideContent {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
        padding: 20px 20px 27px;

        & p {
          font-size: 17px;
          line-height: 22px;
          font-weight: 600;
          letter-spacing: -0.59px;
          color: #ffffff;
          margin: 0;
        }

        & button {
          background: #940000 0% 0% no-repeat padding-box;
          border: none;
          border-radius: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 10px;
        }
      }
    }
  }
}
