@import "../../../../../styles/base/breakpoints.scss";
@import "../../../../../styles/base/variables.scss";

.questions {
  background: #f6f6f6 0% 0% no-repeat padding-box;
  padding-top: 74px;
  padding-bottom: 93px;

  @include media-breakpoint-up("lg") {
    padding-top: 154px;
    padding-bottom: 127px;
  }

  & .content {
    display: flex;
    flex-direction: column;
    gap: 48px;

    & h4 {
      font-size: 22px;
      line-height: 30px;
      font-weight: bold;
      letter-spacing: -0.77px;
      color: #000000;

      @include media-breakpoint-up("lg") {
        font-size: 40px;
        line-height: 68px;
        letter-spacing: -1.4px;

        & br {
          display: none;
        }
      }
    }

    & p {
      font-size: 16px;
      line-height: 23px;
      letter-spacing: 0px;
      color: #000000;
      margin: 0;

      & br:global(.desktop) {
        display: none;
      }

      @include media-breakpoint-up("lg") {
        font-size: 18px;
        line-height: 30px;

        & br:global(.desktop) {
          display: block;
        }
      }
    }
  }
}
