.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  padding: 34px 12px 25px 12px;

  & .step {
    width: 153px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);

    &:nth-of-type(1) {
      margin-right: -20px;
      z-index: 4;
      background: #ff0000 0% 0% no-repeat padding-box;
    }
    &:nth-of-type(2) {
      margin-right: -20px;
      z-index: 3;
      background: #940000 0% 0% no-repeat padding-box;

      & span {
        color: #940000;
      }
    }
    &:nth-of-type(3) {
      margin-right: -20px;
      z-index: 2;
      background: #b9b9b9 0% 0% no-repeat padding-box;

      & span {
        background: #676767 0% 0% no-repeat padding-box;
        color: #fff;
      }
    }
    &:nth-of-type(4) {
      background: #d5d5d5 0% 0% no-repeat padding-box;

      & span {
        background: #676767 0% 0% no-repeat padding-box;
        color: #fff;
      }
    }

    & span {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 26px;
      height: 26px;
      background: #ffffff 0% 0% no-repeat padding-box;
      border-radius: 50%;
      font-size: 17px;
      line-height: 26px;
      font-weight: 600;
      margin-right: 20px;
    }
  }
}
