@import "../../../../../styles/base/breakpoints.scss";
@import "../../../../../styles/base/variables.scss";

.testimonials {
  background: #940000 0% 0% no-repeat padding-box;
  padding-top: 51px;
  padding-bottom: 64px;

  @include media-breakpoint-up("lg") {
    padding: 135px 0;
  }

  & .container {
    padding: 0 30px;

    @include media-breakpoint-up("lg") {
      padding: 0 12px;
    }

    & .title {
      text-align: center;
      font-size: 30px;
      line-height: 40px;
      font-weight: bold;
      letter-spacing: -1.05px;
      color: #ffffff;
      margin: 0;

      & span {
        color: #ff9898;
      }

      @include media-breakpoint-up("lg") {
        font-size: 50px;
        line-height: 68px;
        letter-spacing: -2.1px;

        & br {
          display: none;
        }
      }
    }

    & .carousel {
      margin-top: 55px;

      @include media-breakpoint-up("lg") {
        margin-top: 74px;
      }

      & > :global(.swiper-pagination) {
        position: static;
        margin-top: 42px;

        @include media-breakpoint-up("lg") {
          margin-top: 74px;
        }

        & > :global(.swiper-pagination-bullet) {
          width: 19px;
          height: 19px;
          background: #fbc7c7 0% 0% no-repeat padding-box;
          margin: 0 7px;
          opacity: 1;

          &:global(.swiper-pagination-bullet-active) {
            background: #ff7d7d 0% 0% no-repeat padding-box;
          }

          @include media-breakpoint-up("lg") {
            width: 29px;
            height: 29px;
            margin: 0 4px;
          }
        }
      }

      & .slide {
        background: #ffffff 0% 0% no-repeat padding-box;
        border-radius: 17px;
        overflow: hidden;

        & .header {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 24px 0 0;

          & .stars {
            position: relative;
            width: 143px;
            height: 37px;

            & img {
              object-fit: contain;
            }
          }

          & h4 {
            text-align: center;
            font-size: 21px;
            margin: 0;
            line-height: 29px;
            font-weight: bold;
            letter-spacing: -0.73px;
          }
        }

        & .slideContent {
          padding: 13px 21px 30px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          min-height: 254px;

          & .text {
            font-size: 16px;
            line-height: 22px;
            font-weight: 400;
            font-style: italic;
            letter-spacing: -0.56px;
            color: #000000;
            margin: 0;
          }

          & .bottom {
            display: flex;
            flex-direction: column;
            align-items: center;

            @include media-breakpoint-up("lg") {
              margin-top: 38px;
            }

            & .author {
              font-size: 19px;
              line-height: 29px;
              font-weight: 500;
              letter-spacing: -0.67px;
              color: #000000;
              margin: 0;
            }

            & .verified {
              display: flex;
              align-items: center;
              gap: 4px;

              & .image {
                position: relative;
                width: 19px;
                height: 19px;
                & img {
                  object-fit: contain;
                }
              }
              & p {
                font-size: 15px;
                line-height: 29px;
                font-weight: 500;
                letter-spacing: -0.53px;
                color: #848484;
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
}
