@import "../../../../../styles/base/variables.scss";
@import "../../../../../styles/base/breakpoints.scss";

.faq {
  padding-top: 70px;
  padding-bottom: 85px;
  background-color: #f7f7f7;

  @include media-breakpoint-up("lg") {
    padding-top: 128px;
    padding-bottom: 230px;
  }

  & .title {
    font: normal normal 600 29px/33px Poppins;
    letter-spacing: -1.01px;
    color: #000000;

    @include media-breakpoint-up("lg") {
      font: normal normal 600 60px/70px Poppins;
      letter-spacing: -2.1px;
      width: fit-content;
      margin: 0 auto;
    }

    & span {
      color: #940000;
    }
  }

  & .accordion {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include media-breakpoint-up("lg") {
      gap: 35px;
      max-width: 965px;
      margin: 105px auto 0;
    }

    & .item {
      border: none;
      background-color: #e9e9e9;
      color: #000;
      border-radius: 23px;

      @include media-breakpoint-up("lg") {
        border-radius: 40px;
      }

      & .header {
        & button {
          box-shadow: none;
          padding: 9px 12px 9px 20px;
          font: normal normal 500 17px/24px Poppins;
          letter-spacing: -0.59px;
          color: #000000;

          @include media-breakpoint-up("lg") {
            font: normal normal 500 28px/32px Poppins;
            letter-spacing: -0.98px;
            padding: 20px 20px 20px 45px;
          }

          &::after {
            content: "+";
            background-image: none;
            width: 22px;
            height: 22px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            background-color: #d2d2d2;

            @include media-breakpoint-up("lg") {
              width: 43px;
              height: 43px;
            }
          }
        }
      }
      & .body {
        @include media-breakpoint-up("lg") {
          padding: 20px 20px 30px;
        }
      }
    }
  }
}
