@import "../../../styles/base/breakpoints.scss";
@import "../../../styles/base/variables.scss";

.section4 {
  & > :global(.row) > :first-of-type(div) {
    gap: 0 !important;

    & h2 {
      max-width: unset !important;
    }
  }
}

.cover {
  position: relative;
  height: 585px;
  margin-top: 63px;
  margin-bottom: 33px;

  @include media-breakpoint-up("lg") {
    margin-top: 163px;
    margin-bottom: 68px;
    height: 761px;
  }

  & img {
    object-fit: cover;
  }

  & img:first-of-type {
    display: none;

    @include media-breakpoint-up("lg") {
      display: block;
    }
  }

  & img:last-of-type {
    display: block;

    @include media-breakpoint-up("lg") {
      display: none;
    }
  }
}
