@import "../../../../../../../styles/base/breakpoints.scss";
@import "../../../../../../../styles/base/variables.scss";

.summary {
  background: #940000 0% 0% no-repeat padding-box;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  padding-top: 13px;
  padding-right: 15px;
  padding-bottom: 13px;

  @include media-breakpoint-up("lg") {
    padding: 31px 20px 20px 130px;
    border-radius: 18px;
    max-width: 837px;
    margin: 0 auto;
  }

  & .header {
    position: relative;

    & h1 {
      font-size: 20px;
      line-height: 29px;
      letter-spacing: 0px;
      color: #ffffff;
      margin: 0;
      margin-left: 50px;
      margin-bottom: 10px;

      @include media-breakpoint-up("lg") {
        font-size: 45px;
        line-height: 58px;
        letter-spacing: 0px;
        margin-left: 0;
      }
    }

    & img {
      position: absolute;
      top: 50%;
      right: calc(100% + 37px);
      transform: translateY(-50%);
    }
  }

  & .content {
    display: flex;

    @include media-breakpoint-up("lg") {
      padding-left: 0;
    }

    & .cart {
      margin: 10px 5px;

      @include media-breakpoint-up("lg") {
        display: none;
      }
    }

    & .list {
      width: 100%;
      padding: 28px 13px 38px 15px;
      background: #ffffff 0% 0% no-repeat padding-box;
      border: 1px solid #d9d9d9;
      border-radius: 0px 18px 18px 0px;

      @include media-breakpoint-up("lg") {
        padding: 52px 52px 66px;

        & hr {
          margin: 33px 0;
        }
      }

      & button {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 10px;
        min-width: 188px;
        padding: 7px;
        font-size: 11px;
        line-height: 8px;
        font-weight: 600;
        letter-spacing: 0px;
        color: #ffffff;
        border: none;
        background: #940000 0% 0% no-repeat padding-box;
        border-radius: 31px;

        @include media-breakpoint-up("lg") {
          font-size: 16px;
          line-height: 16px;
          letter-spacing: 0px;
          padding: 13px 10px;
          min-width: 282px;
          gap: 20px;

          & img {
            width: 54px;
            height: 26px;
          }
        }
      }

      & .phoneNumber {
        display: flex;
        align-items: center;
        gap: 7px;

        @include media-breakpoint-up("lg") {
          & img {
            width: 16px;
            height: 22px;
          }
        }
      }

      & h4 {
        font-size: 11px;
        line-height: 12px;
        font-weight: 600;
        letter-spacing: 0px;
        color: #000000;
        margin: 0;

        @include media-breakpoint-up("lg") {
          font-size: 16px;
          line-height: 16px;
          letter-spacing: 0px;
        }

        &.fs13 {
          font-size: 13px;

          @include media-breakpoint-up("lg") {
            font-size: 20px;
          }
        }

        & .fs15 {
          font-size: 15px;

          @include media-breakpoint-up("lg") {
            font-size: 22px;
          }
        }

        & span {
          &.fs8 {
            font-size: 8px;

            @include media-breakpoint-up("lg") {
              font-size: 16px;
              line-height: 30px;
            }
          }
          &.thin {
            font-weight: 400;
          }
          &.red {
            color: #940000;
          }
        }
      }
    }
  }
}
